<!-- <img style="margin: 0;" src="../../../assets/images/home_page_bg.png">
<img style="margin: 0;" src="../../../assets/images/explore_page_bg.png">
<img style="margin: 0;" src="../../../assets/images/bestseller_bg.png"> -->

<div class="HomeDiv">
  <div class="a">
    <div class="leftcorner">
      <h2 id="logo">
        <span style="color: #ffb000">Career</span>
        Corps
      </h2>
    </div>

    <div class="midContainer text-white">
      <ul class="list-inline">
        <li class="list-inline-item cp">Career Programs</li>
        <li class="list-inline-item navEl">About us</li>
        <li class="list-inline-item navEl">Why us</li>
        <li class="list-inline-item navEl">Contact us</li>
        <li class="list-inline-item navEl">Dashboard</li>

        <hr class="line" />
      </ul>
    </div>

    <div class="rightCorner">
      <div class="right">
        <button type="button" class="btn custom-btn rounded-pill">
          Register Now
        </button>
      </div>
    </div>
  </div>

  <div class="b">
    <div class="center">
      <div class="centerhead">
        Kick Start your <span style="color: #ffb000">Career</span>
      </div>
      <div class="c-Txt">
        What's holding you back? Kick your career into high gear! <br>
        The corps are
        here to thrive your career!
      </div>
    </div>

    <div class="buttons" style="    margin: 118px 232px;">
      <button type="button" class="btn custom-btn2 rounded-pill">
        Get Started
      </button>
      <button type="button" class="btn custom-btn3  btn-outline-warning rounded-pill">Success</button>

    </div>
  </div>
</div>

<div class="expolreDiv">
  <h2>Career Corps2</h2>
</div>
