<!-- <img style="margin: 0;" src="../../../assets/images/home_page_bg.png">
<img style="margin: 0;" src="../../../assets/images/explore_page_bg.png">
<img style="margin: 0;" src="../../../assets/images/bestseller_bg.png"> -->

<div class="HomeDiv">
  <div class="a">
    <div class="leftcorner">
      <h2 id="logo">
        <span style="color: #ffb000">Career</span>
        Corps
      </h2>
    </div>

    <div class="midContainer text-white">
      <ul class="list-inline">
        <li class="list-inline-item cp">Career Programs</li>
        <li class="list-inline-item navEl">About us</li>
        <li class="list-inline-item navEl">Why us</li>
        <li class="list-inline-item navEl">Contact us</li>
        <li class="list-inline-item navEl">Dashboard</li>

        <hr class="line" />
      </ul>
    </div>

    <div class="rightCorner">
      <div class="right">
        <button
          type="button"
          (click)="register()"
          class="btn custom-btn rounded-pill"
        >
          Register Now
        </button>
      </div>
    </div>
  </div>

  <div class="b">
    <div class="center">
      <div class="centerhead">
        Kick Start your <span style="color: #ffb000">Career</span>
      </div>
      <div class="c-Txt">
        What's holding you back? Kick your career into high gear! <br />
        The corps are here to thrive your career!
      </div>
    </div>

    <div class="buttons" style="margin: 118px 232px">
      <button type="button" class="btn custom-btn2 rounded-pill">
        Get Started
      </button>
      <button
        type="button"
        class="btn custom-btn3 btn-outline-warning rounded-pill"
      >
        Explore More
      </button>
    </div>

    <div class="smallCards d-flex">
      <div class="smCard1" style="margin-right: 24px">
        <div class="smImg">
          <img id src="../../../assets/images/Group 35704.svg" alt="" />
        </div>
        <div class="text">
          <span>
            <strong>2k+</strong>
          </span>
          <br />
          <span> learners </span>
        </div>
      </div>
      <div class="smCard1" style="margin-left: 0px">
        <div class="smImg">
          <img id src="../../../assets/images/Group 35704.svg" alt="" />
        </div>
        <div class="text">
          <span>
            <strong>2k+</strong>
          </span>
          <br />
          <span> learners </span>
        </div>
      </div>

      <div class="smCard3">
        <div class="smImg">
          <img id src="../../../assets/images//Group 42.svg" alt="" />
        </div>
        <div class="text">
          <span>
            <strong>100%</strong>
          </span>
          <br />
          <span> Placement Guarantee </span>
        </div>
      </div>
    </div>
     
    <div class="sponsers">
      <div class="sponserName">
        <div class="sponserText" id="spns">
          <strong>100+ Hiring Partner</strong>
        </div>
      </div>

      <div class="sponserName">
        <div class="sponserText">
          <img src="../../../assets/images/airbnb.svg" />
        </div>
      </div>
      <div class="sponserName">
        <div class="sponserText">
          <img src="../../../assets/images/clinelogo2.svg" />
        </div>
      </div>
      <div class="sponserName">
        <div class="sponserText">
          <img src="../../../assets/images/_Client logo3.svg" />
        </div>
      </div>
      <div class="sponserName">
        <div class="sponserText">
          <img src="../../../assets/images/_Client logo4.svg" />
        </div>
      </div>
      <div class="sponserName">
        <div class="sponserText">
          <img src="../../../assets/images/_Client logo5.svg" />
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="c">
    <div class="exploretext">
      Explore 
    </div>
  </div> -->
</div>

<div class="expolreDiv">
  <div class="exploretxt">
    <div class="ex">
      <h1>Explore </h1>
    </div>
    <div class="pr">
      the Programs
    </div>
     
  </div>
</div>
