/* :host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('../../../assets/images/home_page_bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
} */
.HomeDiv {
  background-image: url("../../../assets/images/home_page_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.a {
  display: flex;
  justify-content: space-between;
}
.expolreDiv {
  background-image: url("../../../assets/images/explore_page_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

#logo {
  margin: 0px;
  position: relative;
  left: 83px;
  top: 39px;
  font-size: 44px;
  font-weight: 700;
}

.right {
  margin: 47px;
}

.custom-btn {
  background-color: #ffb000;
  color: #fff;
  font-size: x-large;
}
.custom-btn2 {
  background-color: #ffb000;
  color: #fff;
  font-size: x-large;
  padding: 12px 39px;
  margin: 0px 63px 0px 0px;
}
.custom-btn3 {
  color: #fff;
  font-size: x-large;
  padding: 12px 51px;
  margin: 0px 63px 0px 0px;
}
.cp {
  color: #ffb000;
  border-bottom: 4px solid white;
  padding: 6px 9px 6px 0px;
}
.navEl {
  /* border-bottom: 4px solid #FFB000; */
  /* padding: 6px 9px 6px 0px; */
}
.midContainer {
  margin: 67px;
}
.list-inline-item {
  display: inline-block;
  margin: 0px 41px;
}
.line {
  margin: -3px 0px 0px 63px;
  color: #ffb000;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 5.25;
}
.center {
  color: #fff;
  font-style: normal;
  margin: 74px 228px;
}
.centerhead {
  word-spacing: 10px;
  line-height: normal;
  font-weight: 600;
  font-size: 80px;
}
.c-Txt {
  margin-top: 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.523%;
}

.smCard1 {
  display: flex;
  background: #fff;
  width: 8%;
  margin: 28px 236px;
  padding: 12px;
  border-radius: 7%;
}

.smCard3 {
  display: flex;
  background: linear-gradient(
      154deg,
      rgba(121, 117, 131, 0.2) 5.35%,
      rgba(54, 53, 103, 0.2) 83.85%
    ),
    rgba(49, 48, 54, 0.3);
  backdrop-filter: blur(1.5166666507720947px);
  /* width: 8%; */
  margin: 28px 0px;
  padding: 12px 38px;
  border-radius: 7%;
  color: #fff;
}
.text {
  margin-left: 19px;
}
.sponsers {
  display: flex;
  justify-content: space-between;
  /* margin : 47px 237px */
  margin : 110px 0px 47px 237px

}
.sponserText {
  color: white;
  /* margin: 65px 239px; */
  padding: 11px 30px;
  border-radius: 9px;
}
#spns {
  background-color: #ffb000;
  color: black;
}
