/* :host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('../../../assets/images/home_page_bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
} */